.container {
    width: 100%;
    place-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

@media (min-width: 700px) {
    .container {
        width: 70%;
    }
}